main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div:nth-child(odd){
    background-color: tomato;
    width: 50px;
    height: 50px;
}

div:nth-child(even){
    background-color: aqua;
    width: 50px;
    height: 50px;
}

#sete{
    background-color: #F00;
}